### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### C++ ###
*.exe
*.o
*.obj
*.out
*.pdb
*.ilk
*.dll
*.a
*.lib
*.bin
bin
bin/
.cph/

# Ejecutables de C++
*.exe
*.out
*.o

# Archivos pesados/temporales de Obsidian
.obsidian/workspace.json
.obsidian/cache/
.obsidian/indexed-intervals
.obsidian/plugins/obsidian-git/data.json

# Otros
node_modules/
.DS_Store

# Libros y archivos pesados
Books/
*.pdf
*.epub
*.mobi

### Java ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

### Mac OS ###
.DS_Store

